h3{
    display: flex;
    justify-content: center;
}
.name{
    display: flex;
    justify-content: center;
}
.age{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.email{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.gender{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.btn{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}