<h3>form works!</h3>
<div class="name">
    Name
    <input type="text" name="username" [(ngModel)]="username">
</div>
<div class="age">
    Roles
    <input type="text" name="roles" [(ngModel)]="roles">
</div>
<div class="email">
    Gender
    <input type="text" name="gender" [(ngModel)]="gender">
</div>
<div class="gender">
    Location
    <input type="text" name="location" [(ngModel)]="location">
</div>
<div class="btn">
    <button (click)="add()">ADD</button>
    <button (click)="update()">Update</button>
</div>






